
body{
    background-color: black;
}
h1{
    color: aqua;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight:bolder;
    font-style: italic;
  
   
}

#heading{
    align-items: center;
}

#search-input{
    align-self: center;
    background-color: black;
    width: 5cm;
    height: 0.6cm;

}

#attribution{
    width: 0.7cm;
}

#backIcon{
   width: 0.5cm;

}
#close-search-btn{
    background-color: black;
    border-radius: 0.25em;
  

}

#searchBtn{
    background-color:black;
    border-radius: 0.25em;

}

#searchIcon{
    width: 0.5cm;

}

.flexbox-container2{
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    flex-wrap: wrap;
    align-content: center;

}

.movie-poster{
    background-color: grey;
    padding: 2px;
    
}

.flexbox-container{
    display: flex;
    justify-content: space-between; 
}



.movie-title{
    color: aquamarine;
    font-weight: bolder;
}

.movie-votes{
    color: aquamarine;

}



#load-more-movies-btn{
    background-color:black;
    border-radius: 0.25em;
    color: aqua;

}

 .hidden{
    display: none;
    
 }

 #pageItem{
    background-color: aliceblue;
 }

